<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
<link href="https://fonts.googleapis.com/css2?family=Ropa+Sans&family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet">
    <link href="style.css" rel="stylesheet" type="text/css">

</head>

<body>
    <header>
              
            <div class="row">
                <ul class="main-nav">
                    <li><img src="facebook.png" alt="FB"></li>
                    <li><img src="instagram.png" alt="IG"></li>
                    <li><img src="pinterest.png" alt="PR"></li>
                    <li><img src="twitter.png" alt="TW"></li>
                    <li><a href="">Home</a></li>
                    <li><a href="">Travel&Lifestyle</a></li>
                    <li><a href="">Recipes</a></li>
                    <li><a href="">About us</a></li>
                    <li><a href="">Contact</a></li>
                    <li class="search"><img src="search.png" alt="s"></li>
                </ul>
            </div>  
             <div class="logo">
                  <img src="sweet.png" alt="sweet">
              </div>   
    </header>
    
        <div class="presentation">
                 
        </div>
    
    {{ block "main" . }}{{ end }}
</body>

</html>