{{ define "main" }}

<main>
    <ul>
        {{ range .Pages }}
        <li>
            <a href="{{ .URL }}">{{ .Title }}</a>
        </li>
        {{ end }}
    </ul>
</main>

{{ end }}
<!DOCTYPE html>
<html>
<head>
    <title>
        SweetNature
    </title>
    <link href="style.css" rel="style" type="text/css">

</head>
<body>
    <header>
        <div class="row">
            <ul class="main-nav">
                <li><a href="">Home</a></li>
                <li><a href="">Travel&Lifestyle</a></li>
                <li><a href="">Recipes</a></li>
                <li><a href="">About us</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </div>
    </header>
    </body></html>